<div class="card-body">
  <p class="login-box-msg">Giriş Yap</p>

  <form method="POST" action="/auth/login">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
    <div class="input-group mb-3">
      <input type="email" class="form-control" name="email" placeholder="Email">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" name="password" placeholder="Parola">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
      </div>
    </div>
  </form>

  <div class="social-auth-links text-center mt-2 mb-3">
    <a href="/auth/google/login" class="btn btn-block btn-danger">
      <i class="fab fa-google-plus mr-2"></i> Google ile giriş yap
    </a>
  </div>

  <div class="d-flex justify-content-between">
    <a href="/auth/forgot-password">Parolamı Unuttum!</a>
    <a href="/auth/register" class="text-center">Yeni Üyelik Oluştur</a>
  </div>
  {{ if .PendingVerification }}
  <div class="text-center mt-2">
      <a href="/auth/resend-verification" class="btn btn-link">Email Onay Linkini Tekrar Gönder</a>
  </div>
  {{ end }}
</div>
