<div class="card-body login-card-body">
  <p class="login-box-msg">Parola Sıfırla</p>

  <form method="POST" action="/auth/reset-password">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
    <input type="hidden" name="token" value="{{ .Token }}">

    <div class="input-group mb-3">
      <input type="password" class="form-control" name="new_password" placeholder="Yeni Parola">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      <input type="password" class="form-control" name="confirm_password" placeholder="Yeni Parolayı Onayla">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">Parolayı Sıfırla</button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-between">
    <a href="/auth/login">Giriş Sayfasına Dön</a>
  </div>
</div>