# veya production
APP_ENV=development
APP_BASE_URL=http://127.0.0.1:3000

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Logging Level
DB_LOG_LEVEL=info              # silent, error, warn, info

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432                   # PostgreSQL default portu
DB_USERNAME=postgres           # PostgreSQL default kullanıcı adı
DB_PASSWORD=                   # PostgreSQL şifreniz
DB_DATABASE=                   # Veritabanı adı
DB_SSL_MODE=disable            # SSL modu (disable, require, verify-ca, verify-full)
DB_TIMEZONE=UTC                # Zaman dilimi ayarı

# Connection Pool Settings
DB_MAX_IDLE_CONNS=5            # Boşta kalacak maksimum bağlantı sayısı
DB_MAX_OPEN_CONNS=50           # Aynı anda açık olabilecek maksimum bağlantı sayısı
DB_CONN_MAX_LIFETIME_MINUTES=30 # Bağlantıların maksimum ömrü (dakika)

# Session
SESSION_EXPIRATION_HOURS=24

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
