<!DOCTYPE html>
<html lang="tr">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-7KWP1CLQMM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7KWP1CLQMM");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="zatrano: Modern Dijital Davetiyeler ve Profesyonel Dijital Kartvizitler. Etkinliklerinizi ve profesyonel kimliğinizi dijital dünyaya taşıyın."
    />
    <meta
      name="keywords"
      content="dijital davetiye, dijital kartvizit, online davetiye, online kartvizit, ücretsiz dijital davetiye, ücretsiz dijital kartvizit, interaktif davetiye, interaktif kartvizit, davetiye oluşturma, kartvizit oluşturma, profesyonel kartvizit, modern davetiye, zatrano"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="zatrano" />
    <meta name="publisher" content="zatrano" />
    <meta property="og:site_name" content="zatrano" />
    <meta
      property="og:title"
      content="zatrano | Dijital Davetiye ve Kartvizit Çözümleri"
    />
    <meta
      property="og:description"
      content="zatrano: Modern Dijital Davetiyeler ve Profesyonel Dijital Kartvizitler."
    />
    <meta property="og:image" itemprop="image" content="/favicon.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zatrano" />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="zatrano | Dijital Davetiye ve Kartvizit Çözümleri"
    />
    <meta
      name="twitter:description"
      content="zatrano: Modern Dijital Davetiyeler ve Profesyonel Dijital Kartvizitler."
    />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="canonical" href="https://zatrano" />
    <title>zatrano | Dijital Davetiye ve Kartvizit Çözümleri</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link
      href="/dls.css"
      rel="stylesheet"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="/icons.css"
      rel="stylesheet"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    <header class="shadow-lg p-4 md:p-6">
      <div
        class="container mx-auto flex flex-col md:flex-row justify-between items-center"
      >
        <div class="flex items-center mb-4 md:mb-0">
          <a href="/">
            <img
              src="/zatrano.svg"
              loading="lazy"
              alt="zatrano"
              width="200"
              height="50"
              class="h-12 md:h-16 w-auto"
            />
          </a>
        </div>
        <div>
          <a
            href="/panel"
            class="px-8 py-4 rounded-full text-lg font-semibold shadow-md hover:bg-gray-200 transition flex items-center justify-center"
          >
            <i class="fas fa-desktop mr-2"></i>
            Kullanıcı Paneli
          </a>
        </div>
      </div>
    </header>
    {{embed}}
    <footer class="shadow-lg p-6 mt-12 text-center">
      <div class="container mx-auto">
        <div>
          <i class="fas fa-leaf text-2xl" style="color: #84cc16"></i>
        </div>
        <p class="mt-4">Gününüz Kutlu Davetiyeniz Dijital Olsun</p>
        <p class="mt-2">
          Kağıt davetiyeler, doğanın kaynaklarını tüketir ve çevreye zarar
          verir.
        </p>
        <p class="mt-2">
          Doğayı korumak ve sürdürülebilir bir dünya için dijital davetiyeleri
          tercih ediniz.
        </p>
        <p class="mt-4">
          <a href="/kullanim-sartlari" class="underline hover:text-gray-300"
            >Kullanım Şartları</a
          >
        </p>
        <p class="mt-4">
          © 2023 - {{ .CurrentYear }} zatrano - Tüm Hakları Saklıdır.
        </p>
      </div>
    </footer>
    <script>
      window.onload = function () {
        setTimeout(function () {
          var s1 = document.createElement("script");
          var s0 = document.getElementsByTagName("script")[0];
          s1.async = true;
          s1.src = "https://embed.tawk.to/6741a8ae4304e3196ae773ae/1idc7lr8c";
          s1.charset = "UTF-8";
          s1.setAttribute("crossorigin", "*");
          s0.parentNode.insertBefore(s1, s0);
        }, 1000);
      };
    </script>
  </body>
</html>
